language: ruby

rvm:
  - "1.8.7"
  - "1.9.3"

before_install:
  - sudo apt-get install -qq libaugeas-dev

script: 'bundle exec rake'

env:
  - PUPPET_VERSION="2.7"
  - PUPPET_VERSION="3.0"

branches:
  except:
    - master
    - gh-pages
    - /^talk.*$/
    - /^vagrant.*$/
